/* CSS HEX */
/* --hunyadi-yellow: #f6bd60ff;
--linen: #f7ede2ff;
--tea-rose-red: #f5cac3ff;
--cambridge-blue: #84a59dff;
--light-coral: #f28482ff; */
/* https://coolors.co/palette/f6bd60-f7ede2-f5cac3-84a59d-f28482 */





background-color black



img{
    width: 300px;
    border: 5px solid white,
    border-radius 10px,
}

.ícone{
width: 24px

}





h1{
color:brown
}



h2{

    color:brown
}
h3{
color:brown


}

h4{

color:blueviolet

}

